---
interface Props {
  imageURL: string;
  text: string;
  buttonText: any;
  link: string;
}

const { imageURL, text, buttonText, link } = Astro.props;
---

<div
  class="relative rounded-2xl overflow-hidden shadow-lg group border border-white/10"
>
  <img
    src={`/images/${imageURL}`}
    alt={text}
    class="w-full h-[420px] object-cover transition-transform duration-500 group-hover:scale-105"
  />

  <div
    class="absolute inset-0 bg-black/40transition-all duration-500 flex flex-col justify-end items-center p-8"
  >
    <h2
      class="text-red-600 text-4xl font-extrabold uppercase tracking-wider mb-6 drop-shadow-lg"
    >
      {text}
    </h2>
    <a
      href={link}
      class="border border-red-600 text-white font-medium px-8 py-3 rounded-full hover:bg-red-600 hover:text-black transition-colors"
    >
      {buttonText}
    </a>
  </div>
</div>
