---
// Definição das props do componente
interface Props {
  callToAction: string;
  buttonText: string;
  companyName: string;
  callToAction2: string;
  logoImage?: string; // logo opcional
}

// Desestruturação das props
const { callToAction, buttonText, companyName, callToAction2, logoImage } =
  Astro.props;

// Imagem de fundo padrão
const imageURL = "fundo.jpg";

// Logo padrão se nenhuma for passada
const logoSrc = logoImage ? `/images/${logoImage}` : "/images/logo4.png";

// Estilo inline para o background
const bgStyle = {
  backgroundImage: `url('/images/${imageURL}')`,
};
---

<header class="relative bg-cover bg-no-repeat bg-center" style={bgStyle}>
  <!-- Camada da imagem de fundo -->
  <div
    class="absolute inset-0"
    style="background-image: url('/images/tela.avif');
           background-size: cover;
           background-position: center;
           opacity: 0.5;"
  >
  </div>

  <!-- Camada de cor escura ou gradiente opcional -->
  <div class="absolute inset-0 bg-black/25"></div>

  <!-- Conteúdo -->
  <nav
    class="relative text-white uppercase pt-1 font-bold2 z-10 flex justify-center"
  >
    <img src={logoSrc} alt={companyName} class="w-80" width="" />
  </nav>

  <div
    class="relative z-10 px-4 mx-auto max-w-screen-xl text-center pb-10 text-white"
  >
    <h1 class="font-extrabold text-8xl tracking-wide mb-4 uppercase italic">
      {callToAction}
    </h1>
    <p
      class="font-extrabold text-4xl tracking-wide mb-4 uppercase italic yellowText"
    >
      {callToAction2}
    </p>
    <button class="yellowBG p-2 uppercase text-black font-bold rounded-lg"
      >{buttonText}</button
    >
  </div>
</header>
