---
interface Props {
  callToAction: string;
  pfooter:String
}

const { callToAction, pfooter } = Astro.props;
const imageURL = "gym-ropes.jpg";
const bgStyle = { backgroundImage: `url('/images/${imageURL}')` };
const content = [
  {
    heading: "Mailing Address",
    info: "123 Anywhere St, Any City, ST 34565",
  },
  {
    heading: "Email Address",
    info: "hello@reallygreatsite.com",
  },
  {
    heading: "Phone Number",
    info: "(123) 456-7890",
  },
];
---

<footer
  class="bg-cover bg-no-repeat bg-gray-700 bg-blend-multiply"
  style={bgStyle}
>
  <div class="mx-auto max-w-screen-xl p-10">
    <h1
      class="font-extrabold text-5xl yellowText tracking-wide uppercase italic  max-w-xl"
    >
      {callToAction}
    </h1>
    <p   class="font-extrabold text-2xl yellowText tracking-wide uppercase italic  max-w-xl">{pfooter}</p>
    <div class="yellowBG grid grid-cols-1 md:grid-cols-3">
      {
        content.map((item) => (
          <div class="p-12">
            <h1 class="uppercase text-2xl italic">{item.heading}</h1>
            <p>{item.info}</p>
          </div>
        ))
      }
    </div>
  </div>
 <!-- rodapé final -->
    <div class="bg-black text-white text-center py-4 text-sm">
      © {new Date().getFullYear()} Todos os direitos reservados. Desenvolvido por{" "}
      <a
        href="https://www.linkedin.com/in/santiago-ferreira-6964a9173/"
        target="_blank"
        rel="noopener noreferrer"
        class="yellowText hover:underline"
      >
        Santiago Ferreira
      </a>
    </div>
  </div>
</footer>
