---
interface Props {
  callToAction: string;
  pfooter: string;
}

const { callToAction, pfooter } = Astro.props;
const imageURL = "gym-ropes.jpg";
const bgStyle = { backgroundImage: `url('/images/${imageURL}')` };

// redes sociais do cliente
const socials = [
  {
    name: "Instagram",
    url: "https://www.instagram.com/treinador.ruansec",
    icon: "📸",
  },

  {
    name: "YouTube",
    url: "https://www.youtube.com/@treinadorruansec",
    icon: "▶",
  },
];
---

<footer
  class="bg-cover bg-no-repeat bg-gray-700 bg-blend-multiply"
  style={bgStyle}
>
  <div class="mx-auto max-w-screen-xl p-10 text-center">
    <h1
      class="font-extrabold text-5xl yellowText tracking-wide uppercase italic mb-4"
    >
      {callToAction}
    </h1>
    <p
      class="font-extrabold text-2xl yellowText tracking-wide uppercase italic mb-10"
    >
      {pfooter}
    </p>

    <!-- Redes sociais -->
    <div
      class="yellowBG py-8 flex flex-col md:flex-row items-center justify-center gap-8"
    >
      {
        socials.map((s) => (
          <a
            href={s.url}
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2 text-black hover:scale-110 transition-transform font-bold text-xl"
          >
            <span>{s.icon}</span> {s.name}
          </a>
        ))
      }
    </div>
  </div>

  <!-- Rodapé final -->
  <div class="bg-black text-white text-center py-4 text-sm">
    © {new Date().getFullYear()} Todos os direitos reservados. Desenvolvido por{
      " "
    }
    <a
      href="https://www.linkedin.com/in/santiago-ferreira-6964a9173/"
      target="_blank"
      rel="noopener noreferrer"
      class="yellowText hover:underline"
    >
      Santiago Ferreira
    </a>
  </div>
</footer>
